.DS_Store
.vscode/
AssetBundles
Assets/09_Effects/Skill/mesh/Materials*
Assets/Editor/Giant/Resources.meta
Assets/Editor/Giant/Resources/GiantSetting.*
Assets/Editor/BuildEditor/GiantBuildDataFile*
Assets/Test*
Assets/VSCode*
Assets/Plugins/Android*
Assets/Plugins/iOS*
Assets/Plugins.meta
Build/
Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/AssetVersioning.db
Library/AtlasCache
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CrashedAssetImports.txt
Library/EditorInstance.json
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/FailedAssetImports.txt
Library/GridBrush/UnityEditor.GridBrush.asset
Library/guidmapper
Library/il2cpp_android_armeabi-v7a/*
Library/il2cpp_android_x86/*
Library/InspectorExpandedItems.asset
Library/LastBuild.buildreport
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/metadata
Library/MonoManager.asset
Library/PlayerDataCache/*
Library/ProjectSettings.asset
Library/ScriptAssemblies
Library/ScriptMapper
Library/ShaderCache*
Library/shadercompiler*
Library/SpriteAtlasDatabase.asset
Library/TilemapEditorUserSettings.asset
Library/Timeline/*
Library/UnityAssemblies
obj/*
ProjectSettings/AudioManager.asset
ProjectSettings/ClusterInputManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/GoogleAarExplodeCache.xml
ProjectSettings/InputManager.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/UnityAdsSettings.asset
ProjectSettings/UnityAnalyticsManager.asset
ProjectSettings/UnityConnectSettings.asset
ScreenShot_*
Temp*
UnityPackageManager/manifest.json
*.csproj
*.dwlt
*.sln
*.unityproj
*.userprefs
